body{
  background-color: #0E1A25;
}

table {
  margin: 0;
  padding: 0;
}
.table tr.track td {
  border: none;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 1px;
}

.table tr.track th {
  border: none;
}

th.row {
  color: white;
}

h1 {
  text-align: center;
  color: #2691D9;
  font-size: 8em;
  background-color: black;
  opacity:.50;
}

.start {
  text-align: center;
  color: white;
  font-size: 6em;
  background-color: #D90429;
}

.bpm{
  text-align: center;
  color: white;
  font-size: 6em;
  background-color: #D90429;
}

.btn {
  /*width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;*/
}
